<div class="d-flex justify-content-center m-2" style="background-color: black;">
  <div class="container-fluid" style="background-color: black;">
    <div class="row">
      <div class="col-md-3" style="margin-top:-45px;">
        <div class="text-center" style="margin-top:55px; height: auto; width: 100%; height: 350px;">
          <img src="/images/dink/players/{{player.player_id}}.jpeg" style="max-height: 350px;" class="rounded img-fluid"
            alt="...">
        </div>

        <div style="padding-top: 30px; font-size: 20px; color: white;">
          <div style="font-size: 24px;">
            <span style="font-weight: bold;">{{player.name}}</span>
          </div>

          <!-- <div>
          <span>Tower: {{player.flat}}</span>
        </div> -->
          <div>
            <span>Experience: {{player.category}}</span>
          </div>

          <div>
            <span>Base price: {{player.price}} Crores</span>
          </div>
        </div>

        <div style="text-align: center; margin-top: -25px;">
          <span style="font-size: 100px; font-weight: 600; color: white;">
            {{currentBid}}
          </span>
          <span class="badge badge-primary" style="font-size: 20px; margin-left: -15px;" ng-if="currentBid">
            +<span>50L</span>
          </span>
          <div class="alert alert-success" style="margin-top: 60px; font-size: 18px;" role="alert"
            ng-if="player.status === 'Sold'">
            Sold to <strong>{{player.teams.name}}</strong> for <strong>{{player.sp}} crores</strong>
          </div>
          <div class="alert alert-danger" style=" margin-top: 60px;" role="alert" ng-if="player.status === 'UnSold'">
            Unsold
          </div>
          <br />
          <!-- <button type="button" class="btn btn-info">Raise</button> -->
          <!-- <button type="button" class="btn btn-success" ng-click="Next()">Next</button> -->
          <button type="button" class="btn btn-success" ng-disabled="!selectedTeam || player.status=='Sold'"
            ng-click="Sold()">Sold</button>
          <button type="button" class="btn btn-warning" ng-disabled="player.status=='UnSold' || player.status=='Sold'"
            ng-click="UnSold()">Unsold</button>
          <a type="button" class="btn btn-info" href="/teams">Teams</a>
          <form style="display: inline;" ng-submit="nextPlayer()">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="nextPlayerId" style="margin: 10px auto; width: 210px;">
            </div>
          </form>

        </div>
      </div>


      <div class="col-md-9">
        <div class="row">
          <div class="col-md-3 mb-4" ng-repeat="team in teams track by $index">
            <div class="card" style="background-color: #fbfbfb; margin-bottom: 0;">
              <div ng-click="isBidding($index)" style="padding: 8px;"
                ng-style="{'background-color': selectedTeam.team_id==($index +1) ? 'skyblue' : '#fff'}">
                <h3>({{$index + 1}}) {{team.shortName}}</h3>
                <!-- <span class="badge badge-pill badge-primary"
                  style="font-size:20px; height:36px; width: 15%; position: absolute; padding: 6px; right: 5px; top: 5px;">
                  {{team.players.length}}
                </span> -->
                <div class="card-body" style="padding: 0 0 10px 0; margin: -20px 0;">
                  <p class="card-text" style="font-size: 40px; text-align: center; margin: 0;">{{team.budget}} Cr</p>
                  <div class="row"
                    style="text-align: center; padding-bottom: 10px; font-weight: bold; font-size: 18px;">
                    <div class="col-md-4">
                      <p style="margin: 0;">I</p>
                      <p style="margin: 0;">{{team.category.Intermediate}}</p>
                    </div>
                    <div class="col-md-4">
                      <p style="margin: 0;">A</p>
                      <p style="margin: 0;">{{team.category.Advance}}</p>
                    </div>
                    <div class="col-md-4">
                      <p style="margin: 0;">P</p>
                      <p style="margin: 0;">{{team.category.Professional}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row devx">
          <p>Powered by devx</p>
        </div>
      </div>
    </div>
  </div>
</div>